:root{
    --color1:#0DD9C4;
    --color2:#026873;
    --color3:#4ED97F;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#contenedor{
    width: 90%;
    margin: 20px auto;
    border: 1px solid grey;
    padding: 5px;    
    background: url(img/trama-di-carta-bianca-sgualcita-per-sfondo.jpg);
}
header{
    height: 150px;
    background-color: var(--color1);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5px; 
}
header img{
    height: 120px;
    margin: 2px;
    padding: 0px 0px 0px 20px; 
}
h1{
    margin-right: 20px;
    padding: 0px 20px 0px 0px;
    color:var(--color2);
    font-size: 20px;
}
nav{
    height: 90px;
    margin: 5px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
nav ul li {
    min-width: 90px;
}
nav ul li a{
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color2);
    padding: 2px 15px;
    display: block;
    font-size: 13px;
}
article ul li{
    font-size: 0.9em
}
nav ul li a:hover{
    background-color: #e0dada;
}
nav ul li ul{
    display: flex;
    flex-direction: column;
    display: none; /*ocultar los hijos del ul*/;
}
nav ul li:hover >ul{
    display: block;
}
main{
    margin: 5px;
    padding: 5px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
}
section {
    width: 60%;
    padding: 5px;
}
article{
    width: 10px 0;

}
article img{
    width: 90%;
    margin: 10px 0;
    border-radius:15px;
    display: block;
    margin:10px auto;
}
aside img{
    width: 90%;
    margin: 10px 0;
    border-radius:15px;
    display: block;
    margin:20px auto;
}
aside{
    width: 30%;
    padding: 5px;
    font-size: 0.9em;
}
h4, h5{
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
}
h4{
    background-color: var(--color2);
    color: white;
    padding: 15px 0;
    
}
h5{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
article li{
    padding: 5px 10px;
    list-style: none;
    text-align:justify
}
footer{
    background-color: var(--color1);
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    
}
footer a{
    color: white;
}
footer p{
    padding: 2px;
}
footer i{
    font-size: 1em;
}
/*Estilos para las otras paginas*/
#content{
    width: 70%;
    margin: 25px auto;
    border: 1px solid grey;
    padding: 10px;
}
#titulo{
    background-color: var(--color2);
    color: white;
    font-size: 1.5em;
    text-align:center;
    padding: 10px;
    margin: 10px;
}
#video-responsivo{
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
iframe, video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#inicio{
    text-align: center;
    font-size: 1.5em;
}